@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* MDEditor overrides */
.w-md-editor .w-md-editor-text-pre,
.w-md-editor .w-md-editor-text-input,
.w-md-editor .w-md-editor-text {
  color: black !important;
}

.w-md-editor .w-md-editor-text-pre > code,
.w-md-editor .w-md-editor-text-input > code,
.w-md-editor .w-md-editor-text > code {
  color: black !important;
}